/**
 * Created by yanwsh on 4/3/16.
 */

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}

.vjs-full-window .video-js{
  position: fixed!important;
  top: 0!important;
  left: 0!important;
  z-index: 1000000;
}

.video-js {
  .vjs-control-bar{
    z-index: 5;

    .vjs-VR-control{
      cursor: pointer;
      &::before{
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9Jy0yNDUuNiAzODQuMyA3Ni43IDUwLjEnPjxwYXRoIGZpbGw9JyNGRkZGRkYnIGQ9J00tMTcwLjMgMzg1LjdjLTIuMS0yLjEtNzIuNS0xLjYtNzQuMSAwLTEuNyAxLjctMS43IDQ2IDAgNDcuNy42LjYgMTIuMi45IDI2IDFsMy4xLTguNXMyLTggNy45LThjNi4zIDAgOSA5LjcgOSA5LjdsMi42IDYuOGMxMy42LS4xIDI1LS41IDI1LjUtMSAxLjUtMS41IDItNDUuNyAwLTQ3Ljd6bS01Ny4xIDMzLjNjLTYuMSAwLTExLTQuOS0xMS0xMXM0LjktMTEgMTEtMTEgMTEgNC45IDExIDExLTUgMTEtMTEgMTF6bTM5LjcgMGMtNi4xIDAtMTEtNC45LTExLTExczQuOS0xMSAxMS0xMSAxMSA0LjkgMTEgMTEtNC45IDExLTExIDExeicvPjwvc3ZnPg==") no-repeat;
        background-size: contain;
        width: 1em;
        height: 0.68em;
      }

      &.enable::before{
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNi42NzYgMjYuNjc2Jz48cGF0aCBmaWxsPScjRkZGRkZGJyBkPSdNMjYuMTA1IDIxLjg5Yy0uMjMgMC0uNDQtLjEzLS41My0uMzQ1LS4wNjUtLjE1Ni0xLjcxNS0zLjg1Ny03Ljg4NC00LjU5LTEuMjgtLjE1Ni0yLjgyLS4yMzYtNC42OS0uMjV2NC42MTNjMCAuMjEzLS4xMTMuNDA2LS4zMDIuNTA4LS4xODguMDk4LS40MTMuMDg0LS41ODgtLjAzM0wuMjUzIDEzLjgxNUMuMDkzIDEzLjcwOCAwIDEzLjUyOCAwIDEzLjM0YzAtLjE5Mi4wOTQtLjM2Ni4yNTQtLjQ3OGwxMS44NTctNy45OGMuMTgtLjEyLjQtLjEyOC41OS0uMDI4LjE5LjEwMi4zMDYuMjk1LjMwNi41MDJWOS42NWMyLjU3OC4zMzUgMTMuNjc0IDIuMzMgMTMuNjc0IDExLjY3MyAwIC4yNy0uMTkuNTA4LS40Ni41NjItLjAzNy4wMDYtLjA3Ni4wMDYtLjExLjAwNnonLz48L3N2Zz4=") no-repeat;
        height: 1em;
        opacity: 0.7;
      }

      &:hover{
        &::before{
          -webkit-box-shadow: 0em 0em 1em white;
          -moz-box-shadow: 0em 0em 1em white;
          box-shadow: 0em 0em 1em white;
        }
      }

      &.enable:hover{
        &::before{
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          opacity: 1;
        }
      }
    }
  }

  &.vjs-using-native-controls .vjs-poster, &.vjs-using-native-controls .vjs-big-play-button{
    display: block;
  }

  &.vjs-panorama {
    display: block;

    .vjs-video-canvas{
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%) translateZ(0);
      -moz-transform: translateX(-50%) translateZ(0);
      -o-transform: translateX(-50%) translateZ(0);
      transform: translateX(-50%) translateZ(0);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background: #000;
      cursor: pointer;
    }

    .vjs-video-notice-label{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 1.3em;
      font-size: 1vw;
      padding: 0.5em 1em;
      background: rgba(0, 0, 0, 0.8);
      color: #FFF;
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      border-radius: 0.5em;
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;

      &.vjs-video-notice-fadeOut{
        opacity: 0;
      }
    }

    #webgl-error-message{
      position: relative;
      font-family: monospace;
      font-size: 13px;
      font-weight: normal;
      text-align: center;
      color: rgb(0, 0, 0);
      padding: 1.5em;
      width: 400px;
      margin: 5em auto 0px;
      background: rgb(255, 255, 255);

      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;

      &.vjs-video-notice-fadeOut{
        opacity: 0;
      }
    }

    .vjs-loading-spinner{
      z-index: 10;
    }

    &.vjs-panorama-mobile-inline-video.vjs-seeking .vjs-loading-spinner{
      display: none;
    }

    &.vjs-panorama-mobile-inline-video.vjs-waiting .vjs-loading-spinner{
      display: block!important;
    }

    &.vjs-panorama-mobile-inline-video-buffering .vjs-loading-spinner{
      display: block!important;
    }


    &.vjs-panorama-mobile-inline-video-buffering .vjs-loading-spinner:before,
    &.vjs-panorama-mobile-inline-video-buffering .vjs-loading-spinner:after{
      -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite;
      animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite; }

    &.vjs-panorama-mobile-inline-video-buffering .vjs-loading-spinner:before,
    &.vjs-panorama-mobile-inline-video-buffering .vjs-loading-spinner:before {
      border-top-color: white; }

    &.vjs-panorama-mobile-inline-video-buffering .vjs-loading-spinner:after,
    &.vjs-panorama-mobile-inline-video-buffering .vjs-loading-spinner:after {
      border-top-color: white;
      -webkit-animation-delay: 0.44s;
      animation-delay: 0.44s; }
  }
}
